*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#main-container
{
    height: 100vh;
    width: 100%;
    background-color: white;
}
span
{
    font-size: 20px;
    color:white;
}

#container{
    height:90%;
    width: 100%;
    background-color: aqua;
    background: url("https://i.pinimg.com/originals/dc/22/1a/dc221a3b63c5b5ced0357d3d939b98ab.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity;
}
footer{
    height: 10%;
    background-color: white;
    width: 100%;
}
h1{
    
    height: 100px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    
   }
#icons{
    margin-top: 10px;
}
#aside{
    margin-right: 50px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center; 
}
li{
    margin: 30px; 
    
}

main{
    height: 100px;
    width: 300px;
    color: rgb(38, 132, 194);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    margin-right:200px;
}
.material-icons
{
    cursor: pointer;
}
pre{
    position: absolute;
    top:200px;
    left:400px;
    font-size: 60px;
    color: white;
    font-weight: bold;
}
.btns{
    height: 60px;
    width:60px;
    border-radius: 50%;
    background-color:grey;
    display: flex;
    justify-content: center;
    align-items:center ;
    transition:0.3s;
    z-index: 10;
    
}
button
{
    font-size: 40px;
    border: none;
    color:white;
    background-color:grey;
    cursor: pointer;
}
#pre{
    position: absolute;
    top:300px;
    left:40px;
    cursor: pointer;
}
#next{
    position: absolute;
    top:300px;
    right:40px;
    cursor: pointer;

}
footer{
    display: flex;
    justify-content: center;
    align-items: center;

}
footer p{
    margin:60px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#explore
{
    height: 60px;
    width: 200px;
    position: absolute;
    top:450px;
    left:550px;
    border-radius: 15%;
    transition: 1s;

}
#buy
{
    border-radius:15%;
    height: 60px;
    width: 200px;
    position: absolute;
    top:450px;
    left:800px;
    transition: 1s;
    

}
#buy:hover{
    background-color: rgb(179, 49, 49);
}
 #explore:hover{
    background-color: rgb(180, 71, 71);
}
